* { 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
   box-sizing: border-box; 
}

:root {
  --now: #17BEBB;
  --no_project: #0E7C7B;
  --project: #F3511B;
  --highlight: #E0CA3C;
}

body, html {
  width:100%;
  height:100%;
}

#background {
  width: 100%;
  height: 100%;
  display: flex;

  align-items: center;

  
}

#welcome{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: normal;
  align-content: stretch;

  padding: 0;
  margin: 0;
  width: 100%;
  height:auto;
  background: white;
  opacity: 0.8;
  animation: fadein 2s;
  -webkit-animation: fadein 2s;
}

#Logo{
  width: 400px;
  margin: 20px;
}

#welcomeLine{
  width:300px;
  margin:10px;
}


#containerLinks {

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  width:100%;
}


.link{
  border-radius: 10px;
  border: 1px solid grey;
  margin: 2%;
  padding: 10px;
  font-size: 20pt;
  cursor: pointer;
}

.link:hover{
  background: grey;
  color: white;
}

.description {
  font-size: 10pt
}

#header {
  width: 25vw;
  padding-left: 0;
  padding-right: 0;
  background: white;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;

}

#Logo2 {
  width: 80%;
}

#headerTitle{
  display: flex;
  justify-content: center;
  font-size: 1.3vw;

}

#modeContainer {
  background: white;
  height: 5vh;
  width: 25vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-radius: 20px;
}

.mode {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  z-index:100;
  cursor: pointer;
  font-size: 1.2vw;
}

#mode_selection {
  width: 30%;
  background: var(--now);
  
  float: right;
  transition:all 2s;
}

#layerlist{
  background: white;
  width: 25vw;
  height: 26vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.layer {
  height: 30%;
  width: 90%;
  box-shadow: 3px 3px 4px rgb(182, 182, 182);
  display: flex;
  align-items: center;


}

.layer:hover { 
  background-color: #e0ca3c85;
}

.esri-layer-list__item-title {
  font-size: 12px;
}

#legend {
  background: white;
  width: 25vw;
  height: 45vh;
}

#dashboard {
  background: white;
  padding: 10px;
  width:70vw;
  height: 25vh;
  font-size: 1.3vw;
  display: flex;
  justify-content: space-around;


}

#dashboard-text {
  width: 20%;
  margin: 0 5px
}

#dashboard-info {
  width: 20%;
  margin: 0 5px

}

#dashboard-chart {
  width: 60%;
  margin: 0 5px
}

.button{ 
  border-radius: 10px;
  font-size: 16px;
  padding: 2px;
  padding-left: 4px;
  padding-right: 4px;
  border: 1px solid grey
}

div.tooltip {	
  position: absolute;			
  text-align: center;			
  width: 50px;					
  height: 20px;					
  padding: 4px;				
  font: 12px sans-serif;		
  background: var(--now);	
  color: white;
  border: 0px;		
  border-radius: 8px;			
  pointer-events: none;			
}